.Button {
  background: #4e937a;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 20px;
  text-transform: uppercase;
  transition: 0.3s;
}

.Button:hover {
  background: #94beaf;
}

.Button--right {
  align-self: flex-end;
}
