.App {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  width: 450px;
}

* {
  box-sizing: border-box;
  color: #4c5b5c;
  font-family: Verdana, sans-serif;
}
